# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы редакторов
.vscode/
.idea/
*.swp
*.swo

# Логи и временные файлы
*.log
npm-debug.log*

# Зависимости (если будете использовать Node.js)
node_modules/

# Файлы сборки (если будете использовать)
dist/
build/
 
